.checkbox-button{display:flex;flex-direction:row;flex-wrap:nowrap;align-items:flex-start;cursor:pointer}.checkbox-button__input{display:none}.checkbox-button__input:checked+.checkbox-button__new-input{border-color:#bc9cff;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);background-clip:text;-webkit-text-fill-color:transparent}.checkbox-button__input:hover+.checkbox-button__new-input{box-shadow:0px 0px 10px #bc9cff}.checkbox-button__input:active+.checkbox-button__new-input{box-shadow:0px 0px 5px rgba(31,32,65,.5)}.checkbox-button__input:focus+.checkbox-button__new-input{border-color:rgba(31,32,65,.5)}.checkbox-button__new-input{display:flex;justify-content:center;align-items:center;min-width:1.4286rem;height:1.4286rem;background:#fff;border:1px solid rgba(31,32,65,.25);box-sizing:border-box;border-radius:4px;font-family:"Material Icons";font-style:normal;font-weight:normal;font-size:1rem;color:#fff;user-select:none}.checkbox-button__text{margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;padding-top:1px;margin-left:.7143rem;word-break:normal;width:100%;max-width:200px;color:rgba(31,32,65,.5);line-height:normal;user-select:none}
.dropdown{display:block;width:100%;min-width:200px;background:#fff}.dropdown_expanded .dropdown__head{border-radius:4px 4px 0 0}.dropdown_expanded .dropdown__items{display:block}.dropdown__title{margin:0;font-size:1rem;line-height:1.25rem;user-select:none}.dropdown__head{margin-top:10px;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;justify-content:space-between;border:1px solid #53615483;border-radius:4px;overflow:hidden;cursor:pointer}.dropdown__head:hover{border-color:#536154}.dropdown__head-text{margin:0;padding:10px 15px 11px;user-select:none}.dropdown__expand-button{width:40px;font-family:"Material Icons";font-size:1.5rem;font-weight:normal;text-align:center;user-select:none;outline:0;border:0;background:transparent;cursor:pointer}.dropdown__container{width:100%;height:0;position:relative}.dropdown__items{position:absolute;left:0;top:0;margin:0;padding:8px;display:none;width:100%;list-style:none;border:1px solid #53615483;border-top:0;border-radius:0 0 4px 4px;background:#fff}.dropdown__item{margin:0;cursor:pointer}.dropdown__item:hover{background:#d9ffc7c0}.dropdown__item-text{margin:0;padding:6px 7px;user-select:none}
.text-field{width:100%;min-width:0;height:3.1429rem;padding:0rem 1rem .1429rem 1rem;font-family:Montserrat,Arial,sans-serif;font-style:normal;font-weight:normal;font-size:.9786rem;line-height:1.2857rem;color:rgba(31,32,65,.75);background-color:#fff;border:.0714rem solid rgba(31,32,65,.25);border-radius:.2857rem}.text-field::placeholder{color:rgba(31,32,65,.25);opacity:1}.text-field:hover,.text-field:focus{line-height:1.7143rem;border-color:rgba(31,32,65,.5)}.text-field_theme_incorrect-value,.text-field_theme_incorrect-value:hover{border-color:#e92f2fb6}
.form-edit{width:100%}.form-edit__item:not(:first-child){margin-top:10px}.form-edit__item:last-child{margin-top:20px}.form-edit__save-button{padding-top:10px;margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;padding:4px 8px;border-radius:4px;border:0;display:inline-block;color:#2e2727ea;text-decoration:none;user-select:none;cursor:pointer;outline:0;background:#75cc649c}.form-edit__save-button:hover{box-shadow:0 0 10px #75cc649c}
.page__link-to-home{margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;padding:4px 8px;border-radius:4px;border:0;display:inline-block;color:#2e2727ea;text-decoration:none;user-select:none;cursor:pointer;outline:0;margin-bottom:1.2rem;background:#9394cf93}.page__link-to-home:hover{box-shadow:0 0 10px #9394cfd8;text-decoration:underline}.page__link-to-home:active{box-shadow:0 0 10px #98cf93d8}.card-edit-employee__form-title{margin:0;padding:0;font-family:Arial,sans-serif;font-style:normal;font-weight:bold;color:#1f2041;font-family:Montserrat,Arial,sans-serif;font-size:.8571rem;line-height:1.0714rem;text-transform:uppercase;margin-bottom:14px}.card-edit-employee__form-edit{max-width:400px}
.employee-card{display:block;padding:1rem 1.5rem;border-radius:4px;background:#afa3e43b;text-decoration:none;user-select:none;cursor:pointer}.employee-card:hover{box-shadow:0 0 10px #afa3e4fa}.employee-card:active{box-shadow:0 0 10px #e4a3a3fa}.employee-card__container{margin:0;padding:0;list-style:none}.employee-card__item:not(:first-child){margin-top:.5rem}.employee-card__text{margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;margin:0;padding:2px 0 3px;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:flex-end;line-height:1.25rem}.employee-card__label,.employee-card__value{padding:6px 10px;border-radius:4px;overflow-wrap:anywhere}.employee-card__label{margin-right:1rem;width:100px;min-width:100px;background:#a3b8e4a8}.employee-card__value{background:#a3e4aca8}
.employees__container{margin:0;padding:0;list-style:none}.employees__card:not(:first-child){margin-top:1.5rem}
.radio-group{display:flex;flex-direction:row;flex-wrap:nowrap}.radio-group__radio{display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;cursor:pointer}.radio-group__radio:not(:first-child){margin-left:1rem}.radio-group__input{display:none}.radio-group__input:checked+.radio-group__new-input{border-color:#bc9cff}.radio-group__input:checked+.radio-group__new-input:after{content:"";display:block;width:.8571rem;height:.8571rem;background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);border-radius:.7143rem}.radio-group__input:active+.radio-group__new-input{box-shadow:0px 0px 5px rgba(31,32,65,.5)}.radio-group__input:focus+.radio-group__new-input{border-color:rgba(31,32,65,.5)}.radio-group__new-input{display:flex;width:1.4286rem;height:1.4286rem;background:#fff;border:.0714rem solid rgba(31,32,65,.25);border-radius:.7143rem;align-items:center;justify-content:center}.radio-group__new-input:hover{box-shadow:0px 0px 10px #bc9cff}.radio-group__text{margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;margin-left:.7143rem;line-height:1.4286rem;user-select:none}
.filters{padding:1rem;border-radius:4px;box-shadow:0 0 10px #5753538a;width:100%;display:flex;flex-direction:row;flex-wrap:wrap;align-items:flex-end}.filters__statuses,.filters__dropdowns{display:flex;flex-direction:row;flex-wrap:wrap}.filters__statuses,.filters__dropdowns{margin-left:2rem}
.page__add-employee-button{margin:0;padding:0;font-family:Arial,sans-serif;font-weight:normal;font-size:1rem;line-height:1.7143rem;color:rgba(31,32,65,.75);font-style:normal;text-transform:none;padding:4px 8px;border-radius:4px;border:0;display:inline-block;color:#2e2727ea;text-decoration:none;user-select:none;cursor:pointer;outline:0;margin-bottom:20px;background:#5f71dac4;color:#fcfcfc}.page__add-employee-button:hover{box-shadow:0 0 10px #5f72daea}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face{font-family:"Material Icons";font-style:normal;font-weight:400;src:url(fonts/MaterialIcons-Regular.eot);src:local("Material Icons"),local("MaterialIcons-Regular"),url(fonts/MaterialIcons-Regular.woff2) format("woff2"),url(fonts/MaterialIcons-Regular.woff) format("woff"),url(fonts/MaterialIcons-Regular.ttf) format("truetype")}.material-icons{font-family:"Material Icons";font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:"liga"}*{box-sizing:border-box}html,body{font-size:14px;font-family:Arial,Helvetica,sans-serif;background:#fff}.page{display:flex;flex-direction:column;width:100%;height:100%}.page__container-content{margin:0 auto;width:100%;max-width:1440px;min-width:320px}.page__content{padding:100px 15px}.page__employees{margin-top:3rem}

/*# sourceMappingURL=main.729a805fbee1b55ea02f.css.map*/