<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Список сотрудников
  body.list
    main.list__container-content
      .list__content
        .list__filters
          include /filters/filters.pug
          +filters({
            id: 'filters',
            sortedBy: [
              { text: 'имя', value: 'name' },
              { text: 'дата рождения', value: 'date-of-birth' },
            ],
            statuses: [{ text: 'в архиве', value: 'in-archive' }],
            dropdowns: [
              { 
                title: 'Должность',
                name: 'post',
                items: [
                  { text: 'Повар', value: 'cooke' },
                  { text: 'Официант', value: 'waiter' },
                  { text: 'Водитель', value: 'driver' },
                ],
              }
            ],
          })
        .list__employees
          #employees
