@import './variables'
  
@mixin container-content
  margin: 0 auto
  width: 100%
  max-width: 1440px
  min-width: 320px

@mixin text-body
  margin: 0
  padding: 0
  font-family: Arial, sans-serif
  font-weight: normal
  font-size: 1rem
  line-height: 1.5rem
  color: #000
  font-style: normal
  text-transform: none

@mixin button
  @include text-body
  padding: .2857rem .5714rem
  border-radius: .2857rem
  border: 0
  display: inline-block
  color: #2e2727ea
  text-decoration: none
  user-select: none
  cursor: pointer
  outline: 0
