@import '@styles/mixins.sass'

.home
  &__container-content
    @include container-content
    padding: 7.1429rem 1.0714rem 4.2857rem

  &__add-employee-button
    @include button
    margin-bottom: 1.4286rem
    background: #5f71dac4
    color: #fcfcfc

    &:hover
      box-shadow: 0 0 .7143rem #5f72daea

    &:focus
      box-shadow: 0 0 .7143rem #725fdaea

  &__employees
    margin-top: 2.1429rem
    list-style: none

  &__employee:not(:last-child)
    margin-bottom: 1rem
