@import '@styles/mixins.sass'

.home
  &__container-content
    @include container-content
    padding: 32px 16px

  &__add-employee-button
    display: inline-block
    margin-bottom: 32px

  &__employees
    margin-top: 32px
    padding: 0
    list-style: none

  &__employee:not(:last-child)
    margin-bottom: 16px
