.filters
  padding: 1rem
  border-radius: .2857rem
  box-shadow: 0 0 .7143rem #5753538a

  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-end

  &__statuses,
  &__dropdowns
    display: flex
    flex-direction: row
    flex-wrap: wrap

  &__statuses,
  &__dropdowns
    margin-left: 2rem
